{% extends "../base.html" %}
{% load crispy_forms_filters i18n %}
{% block extratitle %}{% translate "Create new group" %} - {% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'quotes:group_list' %}">{% translate "Groups" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Add Group" %}</li>
    </ol>
  </nav>
  <h1>{% translate "Add new group" %}</h1>
  <form method="post" action="">{% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">{% translate "Create" %}</button>
    <a href="{% url 'quotes:group_list' %}" class="btn btn-secondary">{% translate "Back to list" %}</a>
  </form>
{% endblock content %}
