{% extends "base.html" %}
{% load i18n %}
{% block extratitle %}{% trans "Deleting" %} {{ object.name }} - {% endblock %}
{% block content %}
          <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'quotes:group_list' %}">{% translate "Groups" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quotes:group_detail' group=object.group.slug %}">{{ object.group.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quotes:character_list' group=object.group.slug %}">{% translate "Characters" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'quotes:character_detail' character=object.slug %}">{{ object.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% translate "Delete" %}</li>
  </ol>
  </nav>
<h1>{% trans "Deleting:" %} {{ object.name }}</h1>
  <p><strong>{% trans "Are you sure you want to delete character:" %}</strong> {{ object.name }}</p>
  <form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button> <a href="{% url 'quotes:character_detail' character=object.slug %}" class="btn btn-secondary">{% trans "Go back to character details" %}</a>
  </form>
{% endblock %}
